@import '../../../../variables';

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-top: 1em;
  place-items: center;
  position: relative;

  .contacts{
    position: relative;
    background-color: $accent;
    display: flex;
    width: 200px;
    border-radius: 10px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
