<div class="container">
  <div class="left-part">
    <div class="title">Hej, Jag Heter Kevin</div>
    <p>
      I am a software engineer from Guadalajara, Mexico. I'm specialised in web development
      and I'm looking forward to grow as an engineer.
    </p>
    <app-brown-button text="Continue"
                      class="btn"
                      (clickEmitter)="navigate()">
    </app-brown-button>
    <app-brown-button text="Contact"
                      routerLink="/contact"
                      class="btn">
    </app-brown-button>
  </div>
  <div class="right-part">
    <img class="picture mat-elevation-z4"
         alt="photo of kevin"
         src="https://lh5.googleusercontent.com/RJKvExV2j5pJHnwHIInRWNkpfGuRuvauYFEJNPHZplpCS20Ri3jkNSa50Yi__nbgRTxme3W2a6gUSJSQ2Lsg=w1920-h969-rw">
  </div>
</div>
