@import '../../../variables';

.container {
  align-items: center;
  display: flex;
  height: calc(100vh - 64px);
  justify-content: center;
  margin: 0 10%;

  .left-part {
    width: 40%;

    p {
      font-size: 24px;
      font-weight: lighter;
      line-height: 32px;
      margin-bottom: 32px;
      margin-right: 24px;
    }

   .title {
     font-size: 38px;
     font-weight: bold;
     margin-bottom: 32px;
     margin-right: 24px;
     line-height: 42px;
   }

   .btn {
     display: block;
     margin-bottom: 24px;
   }
  }

  .right-part {
    display: flex;
    justify-content: center;
    width: 40%; // 10% margin 40% left part

    .picture {
      border: 25px solid $accent;
      border-radius: 10px;
      width: 80%;
      max-width: 400px;
      z-index: 1;
    }
  }
}


@media screen and (max-width: 650px) {
  .container {
    height: calc(100vh - 64px - 2em);
    flex-direction: column;
    margin: 2em 0 0 0;
    justify-content: flex-start;

    .left-part {
      width: 80%;

      p, .title {
        margin-right: 0;
        margin-bottom: 16px;
      }

      p {
        font-size: 18px;
      }

      .title {
        font-size: 28px;
      }

      .btn {
        display: flex;
        justify-content: center;
      }
    }

    .right-part .picture {
      margin-bottom: 1em;
    }
  }
}
