@import './variables';

html, body {
  background: $background;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $black;
  margin: 0;
}

.title {
  font-size: 38px;
  font-weight: bold;
  line-height: 38px;
  margin-bottom: 24px;
  position: relative;
  background-color: $background;
  display: inline-block;
}

.section-container {
  margin: 4em 10%;
}

.fill-space {
  flex: 1;
}
