@import 'src/variables';

html, body {
  background: $background;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.title {
  font-size: 38px;
  font-weight: bold;
  line-height: 38px;
}
