<div class="section-container">
  <header class="title">Languages</header>

  <main class="experience-container">
    <div *ngFor="let language of languages"
         class="language mat-elevation-z4">
      <div class="name">{{language.name}}</div>
      <div class="level">{{language['level']}}</div>
      <div *ngFor="let detail of language['details']"
           class="details">
        {{detail.title}} - {{detail.company}}
      </div>
      <div class="emoji">{{language.emoji}}</div>
    </div>
  </main>
</div>

<app-buttons-bottom-bar></app-buttons-bottom-bar>
